include README.md LICENSE ChangeLog MANIFEST.in
recursive-exclude *.pyc core.* *~ *.pdf .gitignore .gitattribute
recursive-include wxmplot *.py
recursive-include examples *.py
recursive-include examples *.dat
recursive-exclude examples *.tiff
recursive-exclude doc *
recursive-exclude .github *
