include README.md LICENSE ChangeLog MANIFEST.in
recursive-include wxmplot *.py
recursive-include examples *
recursive-exclude examples *.tiff
recursive-include doc *
recursive-exclude doc/_build *
include versioneer.py
include wxmplot/_version.py
