name: Test Installing wxmplot, using mamba

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11']
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python with Miniconda/mamba
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: latest
        mamba-version: "*"
        channels: conda-forge,defaults
        channel-priority: true
        activate-environment: anaconda-client-env
        python-version: ${{ matrix.python-version }}
    - name: Install mamb dependencies
      run: |
        mamba install -y -c conda-forge python=${{ matrix.python-version }} numpy=>1.22 matplotlib=>3.6 wxpython=>4.2 pip pytest
        mamba info -a
        mamba list
    - name: Install wxmplot with pip
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Test with pytest
      run: |
        cd tests
        pytest
